$color1: #00bcd4;
$color2:white;
$color3: #2b2b2b;
$fz24:24px;
$fz16:16px;
$fz48:48px;
$fz14:14px;
$color4:#c8c6c9;
$fz40:40px;
$fz18:18px;
$fz20:20px;
$fz17:17px;
$burgerColor:rgba(1, 176, 206, 0.93);
$fz13:13px;
$fz26:26px;
$fz38: 38px;
$fz12:12px;